* {
	margin: 0;
	padding: 0;
}

body {

	font-family: 'TTLakes';
	font-size: 14px;
	color: #000;
	height: 100%;
}

button {
	border: none;
	background-color: #FFFFFF00;
	text-decoration: none;
	font-family: 'TTLakes';
	cursor: pointer;
}

.brand {
	border-top: 1px solid #D9FFF5;
	height: 100%;
}

.brand__title {
	background-color: white;
	padding-bottom: 16px;
	width: 100%;
	height: 56px;
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	color: #7E7E82;
	margin-left: 16px;
	padding-top: 16px;
}

.brand__swiper {
	margin-top: 16px;
}


.brand__swiper-slide {
	font-size: 18px;
	background: #fff;
	display: flex !important;
	width: 190px !important;
	height: 72px !important;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 16px;
}

.swiper-pagination {
	position: static !important;
	margin-top: 16px !important;
	--swiper-theme-color: #B5B6BC;
}

.brand__gradient {
	position: absolute;
	right: 0;
	width: 24px;
	height: 74px;
	z-index: 1000;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	outline: 2px solid #FF3E79;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1270px) {
	body {
		width: 1270px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 1120px) {
	body {
		height: 420px;
		display: flex;
	}

	.brand {
		border-top: 1px solid #D9FFF5;
		height: 100%;
		min-width: 1120px;

	}

	.brand__gradient {
		display: none;
	}

	.brand__title {
		width: 100%;
		height: 40px;
	}

	.brand__swiper-wraper {
		flex-wrap: wrap;
		margin-bottom: 14px;
	}

	.brand__swiper-slide {
		margin-bottom: 16px;
		margin-left: 32px;
	}

	.brand__swiper {
		height: 170px;
		transition: all 1s ease-out;
	}

	.brand__swiper-big {
		height: auto !important;
	}

	.brand__show-next {
		display: flex;
	}

	.brand__show-next {
		margin-left: 60px;
		margin-top: 24px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
	}

	.brand__show-next::before {
		content: url(/img/expand.svg);
		padding-right: 17px;
		padding-top: 2px;
	}

	.brand__show-next-arrows-down::before {
		content: url(/img/expand.svg);
		transform: rotate(180deg);
		padding-left: 17px;
	}
}

@media (min-width: 600px) and (max-width: 1120px) {
	body {
		height: 288px;
		display: flex;
		width: 100%;
	}

	.brand {
		border-top: 1px solid #D9FFF5;
		height: 100%;
		min-width: 600px;
		max-width: 1120;
	}

	.brand__gradient {
		display: none;
	}

	.brand__title {
		width: 100%;
		height: 40px;
	}

	.brand__swiper-wraper {
		width: auto;
		flex-wrap: wrap;
		margin-bottom: 14px;
	}

	.brand__swiper-slide {
		margin-bottom: 16px;
		margin-left: 24px;
	}

	.brand__swiper {
		height: 170px;
		transition: all 1s ease-out;
	}

	.brand__swiper-big {
		height: auto !important;
	}

	.brand__show-next {
		display: flex;
	}

	.brand__show-next {
		margin-left: 60px;
		margin-top: 24px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
	}

	.brand__show-next::before {
		content: url(/img/expand.svg);
		padding-right: 17px;
		padding-top: 2px;
	}

	.brand__show-next-arrows-down::before {
		content: url(/img/expand.svg);
		transform: rotate(180deg);
		padding-left: 17px;
	}
}

@media (min-width: 320px) and (max-width: 600px) {
	body {
		width: 100%;
		height: 288px;
	}

	.brand {
		border-top: 1px solid #D9FFF5;
		height: 100%;
		min-width: 320px;
		max-width: 500px;
	}

	.brand__show-next {
		display: none;
	}

	.brand__title {
		width: 100%;
	}

}